acme==2.11.0
adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.0.0-cp37-abi3-manylinux_2_34_x86_64.whl#sha256=3d8e2c7eace7cf73377a8e21e9f1e705d7279370bed801b8a125f6cda36f8d9d
annotated-types==0.7.0
apparmor==3.1.7
arandr==0.1.11
argcomplete==3.1.3.dev0+g140fa51.d20240618
attrs==23.2.1.dev0
autocommand==2.2.2
awscli==1.33.13
botocore==1.34.131
btrfsutil==6.10
certbot==2.11.0
certbot-nginx==2.11.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.5.5
configobj==5.0.8
cryptography==42.0.6
distro==1.9.0
docutils==0.21.2
fastjsonschema==2.20.0
future==1.0.0
idna==3.7
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
jmespath==1.0.1
josepy==1.14.0
lensfun==0.3.4
LibAppArmor==3.1.7
more-itertools==10.3.0
nftables==0.1
ordered-set==4.1.0
packaging==24.1
parsedatetime==2.6
pipx==1.6.0
platformdirs==4.2.2
ply==3.11
powerline-status==2.8.3
psutil==6.0.0
psycopg2==2.9.9
pwquality==1.4.5
pyasn1==0.6.0
pycairo==1.26.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pygdbmi==0.11.0.0
PyGObject==3.48.2
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyRFC3339==1.1
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
rsa==4.9
s3transfer==0.10.2
sentry-sdk==2.12.0
setuptools==69.5.1
six==1.16.0
smbus==1.1
TBB==0.2
tomli==2.0.1
trove-classifiers==2024.7.22
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==1.26.19
userpath==1.9.2
validate==5.0.8
validate-pyproject==0.18
wheel==0.43.0
yt-dlp==2024.8.1
